<h1><%= t ".pasres" %></h1>
<p><%= t ".text1" %></p>
<%= link_to t(".reset_pass"), 
  edit_password_reset_url(@user.reset_token, email: @user.email) %>
<p><%= t ".text2"%></p>
<p><%= t ".text3"%></p>
