= provide :title, t(".page_title", book: @book.title)
%h1= t(".page_title", book: @book.title)
%h3= t(".available_count", count: @book.copies_available_count)
%div
  .add-new-book
    - if logged_in? && current_user.librarian?
      .button-add-new-book
        = link_to t(".add_copy"), new_copy_path, class: "btn btn-primary"
   
  = paginate @copies, theme: "twitter-bootstrap-4",
    pagination_class: "pagination-sm"

  %div(class="rh rh-100 section-booking")
    .col-lg-1
      = t ".id"
    .col-lg-11
      = t ".status"
    %br
    %br
    .container
      .row
        = render @copies
     
  #back_to_top.active
    %i(class="fa fa-angle-up" aria-hidden="true")
