= provide :title, @user.name
.container-xs-card
  .row
    %aside.col-md-4
      %section.user_info
        %h3= @user.name
        %br
        - if @user.user? && current_user.current_user?(@user)
          - if @user.card_activated?

            %h6= t ".card_information"
            %br
            = Card.human_attribute_name :issued_date
            = I18n.localize @user.card_issued_date
            %br
            = Card.human_attribute_name :expired_date
            = I18n.localize @user.card_expired_date
          - else

            .register-card
              = link_to t(".register"), register_path
