= provide :title, t("shared.homepage.page_title")
.banner
  .container-xs
    %h1.text-white= t "shared.homepage.welcome_message"
    %h3.text-white.banner-xs= t "shared.homepage.quote"
    %div.rh.form-search
      .container
        .comment-form-x
          = form_tag books_path, method: :get do
            .comment-form-submit-home
              = image_submit_tag Settings.IMAGE_SEARCH, class: "btn btn-primary", title: t(".search")
            .comment-form-text-home
              = text_field_tag :search, params[:search],
                class: "form-control", placeholder: t(".type_book_title")

