<% provide :title, t(".page_title") %>
<h1><%= t ".page_title" %></h1>
<div class="rh rh-100 section-booking">
  <div class="col-lg-2"><%= t ".user" %></div>
  <div class="col-lg-3"><%= t ".book" %></div>
  <div class="col-lg-1"><%= t ".copy_id" %></div>
  <div class="col-lg-6"><%= t ".registered_date" %></div>
  <br><br>
  <div class="container">
    <div class="row">
      <%= render partial: "book_confirmation", collection: @book_confirmations %>
    </div>
  </div>
</div>
