<div class="rh-detail-left rh-blog">
<div class="rh-box">
  <div class="rh rh-blog-img">
    <a href="javascript:;">  
      <%= image_tag Settings.IMAGE_BOOK, alt: "about-detail" %>
    </a>
  </div>

  <div class="rh-about-hotel rh rh-blog-list">
    <h4 class="book-index-single-tile"><%= link_to book.title, book %></h4>
    <div>
      <% if logged_in? %>
        <% if current_user.librarian? %>
          <div class="book-index-edit-delete">
            <%= link_to t(".edit"), edit_book_path(book) %>
            <%= link_to t(".delete"), book, method: :delete,
                data: {confirm: t(".confirm")} %>
            <%= link_to t(".copies"), copies_path(book_id: book.id) %>
          </div>
        <% elsif current_user.user? %>
          <div>>
          <%= link_to t(".borrow"), new_registered_copy_path(book_id: book.id),
            class: "rh-check-btn" %>
          </div>
        <% end %>
    <% end %>
    </div>
  </div>
</div>
</div>
