<% provide :title, t(".page_title") %>
<h1><%= t ".page_title" %></h1>
<%= will_paginate %>
<ul class="books">
  <%= render @books %>
</ul>
<%= will_paginate %>

<%= link_to t(".add_book"), newbook_path %>
