%div
  %div(class="rh form-search")
    .container
      .row
        .comment-form-x
          = form_tag books_path, method: :get do
            .comment-form-advance
              = image_tag Settings.IMAGE_ADVANCE, class: "btn btn-primary", data: {toggle: "collapse", target: "#advance-search"}
            .comment-form-submit
              = image_submit_tag Settings.IMAGE_SEARCH, class: "btn btn-primary", title: t(".search")
            .comment-form-text
              = text_field_tag :search, params[:search],
                class: "form-control", placeholder: t(".type_book_title")

  - if user_signed_in? && current_user.librarian?
    .button-add-new-book
      = link_to t(".add_book"), new_book_path, class: "btn btn-primary"

  .container
    #advance-search.collapse
      = search_form_for @search, class: "form-inline" do |f|
        %div(class="form-group")
          = f.label :title_cont
          = f.text_field :title_cont, class: "form-control"
          %br
          = f.label :title_start
          = f.search_field :title_start, class: "form-control"
          %br
          = f.label :price_lteq
          = f.text_field :price_lteq, class: "form-control"
          %br
          = f.label :price_gteq
          = f.text_field :price_gteq, class: "form-control"
          %br
          = f.submit t(".search"), class: "btn btn-primary"

  .container
    %br
    .li= content_tag :th, sort_link(@search, :title, t(".sort_name"))
    .li= content_tag :th, sort_link(@search, :price, t(".sort_price"))

  .container
    = paginate @books, theme: "twitter-bootstrap-4",
      pagination_class: "pagination-sm"

  %div(class="rh rh-100 section-booking")
    .container
      .row
        %div(class="col-lg-9 col-md-8 col-sm-12 book-all")
          = render @books
        %div(class="col-lg-3 col-md-4")
          .row
            %div(class="col-md-12 col-sm-6 col-xs-6 col-sxs-12")
              %div(class="rh rh-reservation rh-blog-sidebar")
                %h5= Category.model_name.human
                %ul
                  - Category.all.map(&:name).each do |category|
                    %li= category

  #back_to_top.active
    %i(class="fa fa-angle-up" aria-hidden="true")
