= provide :title, @book.title

%section(class="rh-detail-bg list-view-column2 event")
  .container
    .row
      .rh-detail-widgets
        %div(class="col-lg-12 col-md-12 col-sm-12 col-xs-12")
          %div(class="rh text-center")
            %p.book-quote= t ".quote"
         
%div(class="rh rh-100 section-booking")
  .container
    .row
      %div(class="col-lg-9 col-md-8 col-sm-12 col-xs-12")
        %div(class="rh-detail-left rh-blog")
          <!-- About Book Detail -->
          %div(class="rh-about-hotel rh")
            %h4= @book.title
            .rh-blog-category
              %ul
                %li
                  - if @book.authors.present?
                    = t ".by"
                    = @book.authors.pluck(:name).to_sentence
                %br
                %li
                  = t(".price")
                  = @book.price
                %br
                %li
                  = t(".isbn")
                  = @book.isbn
                %br
                %li
                  = t(".publisher")
                  = @book.publisher_name
                %br
                %li
                  = t(".category")
                  = @book.category_name
                 
          .rh-blog-social
            %ul(class="event-sigle-btn social")
              %li
                %span= t ".share"
              %li
                %a(href="javascript:;")
                  %i(class="fa fa-facebook" aria-hidden="true")
              %li
                %a(href="javascript:;")
                  %i(class="fa fa-google-plus" aria-hidden="true")
              
          .rh-review
            %div(class="review-detail pull-left")
              %ul
                %li
                  %i(class="fa fa-star" aria-hidden="true")
                %li
                  %i(class="fa fa-star" aria-hidden="true")
                %li
                  %i(class="fa fa-star" aria-hidden="true")
                %li
                  %i(class="fa fa-star" aria-hidden="true")
                %li
                  %i(class="fa fa-star" aria-hidden="true")
                 
          %div(class="rh-about-hotel rh-btm rh")
            %h4= t "send_us_message"
            - if logged_in?
              .comment-form-x
                = render partial: "comments/comment_form"
              .container
                %ul.comments
                  = render @book.comments.confirmed.page 1
              .load-more-container
                = link_to t(".load_more"),
                  book_comments_path(@book.id, page: 2),
                  id: "load-more-button", remote: true 
             
      %div(class="col-lg-3 col-md-4 col-sm-12 col-xs-12")
        .row
          %div(class="col-md-12 col-sm-6 col-xs-6 col-sxs-12")
            %div(class="rh rh-reservation rh-blog-sidebar")
              %h5= t ".category"
              %ul
                - Category.all.map(&:name).each do |category|
                  %li= category
                 
#back_to_top.active
  %i(class="fa fa-angle-up" aria-hidden="true")
