<% provide :title, @book.title %>

<!-- Small Banner Begin -->
<section class="rh-detail-bg list-view-column2 event">
  <div class="container">
    <div class="row">
      <div class="rh-detail-widgets ">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="rh text-center">
            <p class="book-quote"><%= t ".quote" %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Small Banner Close -->

<!-- Main Content Begin -->
<div class="rh rh-100 section-booking">
  <!-- Blog Page Begin -->
  <div class="container">
    <div class="row">
      <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
        <div class="rh-detail-left rh-blog">
          <!-- About Book Detail -->
          <div class="rh-about-hotel rh">
            <h4><%= @book.title %></h4>
            <div class="rh-blog-category">
              <% if @book.authors.present? %>
                <%= t ".by" %>
                <%= @book.authors.each {|author| author} %>
              <% end %>
              <ul>
                  <br><li><%= t ".price" %>: <%= @book.price %></li>
                  <br><li><%= t ".isbn" %>: <%= @book.isbn %></a></li>
                  <br><li><%= t ".publisher" %>: <%= @book.publisher_name %></li>
                  <br><li><%= t ".category" %>: <%= @book.category_name %></li>
              </ul>
            </div>
          </div>
          <!-- Share social newtwork -->
          <div class="rh-blog-social">
            <ul class="event-sigle-btn social">
              <li><span>Share:</span></li>
              <li><a class="" href="javascript:;"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a class="" href="javascript:;"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a class="" href="javascript:;"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
              <li><a class="" href="javascript:;"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
              <li><a class="" href="javascript:;"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
            </ul>
          </div>

          <!-- Review -->
          <div class="rh-review">
              <div class="review-detail pull-left">
                  <span></span>
                  <ul>
                      <li><i class="fa fa-star" aria-hidden="true"></i></li>
                      <li><i class="fa fa-star" aria-hidden="true"></i></li>
                      <li><i class="fa fa-star" aria-hidden="true"></i></li>
                      <li><i class="fa fa-star" aria-hidden="true"></i></li>
                      <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                  </ul>
                  <p></p>
              </div>
          </div>

          <!-- Submit a Review -->
          <div class="rh-about-hotel rh-btm rh">
              <h4><%= t "send_us_message" %></h4>
              <% if logged_in? %>
                <%= render partial: "comments/comment_form" %>
              <% end %>
              <br><br>
              <div class="container">
                <ul class="comments">
                  <%= render @book.comments.confirmed.page 1 %>
                </ul>
              </div>

              <div class="load-more-container">
                <%= link_to t(".load_more"),
                  book_comments_path(@book.id, page: 2),
                  id: "load-more-button", remote: true %>
              </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
        <div class="row">
          <div class="col-md-12 col-sm-6 col-xs-6 col-sxs-12">
              <div class="rh rh-reservation rh-blog-sidebar">
                <h5><%= t ".category" %></h5>
                <ul>
                  <% Category.all.map(&:name).each do |category| %>
                    <li><%= category %></li>
                  <% end %>
                </ul>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Blog Page Close -->
</div>
<!-- Main Content Close -->

<div id="back_to_top" class="active">
  <i class="fa fa-angle-up" aria-hidden="true"></i>
</div>
