<% provide :title, @book.title %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @book.title %>
      </h1>
      <br>
      <%= t ".price" %>: <%= @book.price %>
      <br>
      <%= t ".isbn" %>: <%= @book.isbn %>
      <br>
      <%= t ".publisher" %>: <%= @book.publisher_name %>
      <br>
      <%= t ".category" %>: <%= @book.category_name %>
    </section>
  </aside>
</div>
<div>
  <% if logged_in? %>
    <%= render partial: "comments/comment_form" %>
  <% end %>

  <div class="container">
    <ul class="comments">
      <%= render @book.comments.page 1 %>
    </ul>
  </div>

  <div class="load-more-container">
    <%= link_to t(".load_more"), 
      book_comments_path(@book.id, page: 2),
      id: "load-more-button", remote: true %>
  </div>
</div>
