<li>
  <% if logged_in? && current_user.user? %>
    <%= registered_copy.copy_id %>
    <%= registered_copy.card_id %>
    <%= registered_copy.registered_date %>
    <%= registered_copy.borrowed %>
    <%= link_to t(".return"), registered_copy, method: :delete,
          data: {confirm: t(".confirm")} %>
  <% end %>
</li>
