= provide :title, t(".page_title")
.row
  %aside.col-md-4
    %section.user_info
      = form_for @registered_copy do |f|
        = render "shared/error_messages", object: f.object

        %h3= current_user.name
        %br
        %br
        %h6
          = Card.human_attribute_name :issued_date
          = current_user.card.issued_date
        %h6
          = Card.human_attribute_name :expired_date
          = current_user.card.expired_date
        %br
        %h6
          = Book.human_attribute_name :title
          = @book.title
          %br
          = Book.human_attribute_name :publisher
          = @book.publisher_name
          %br
          = Book.human_attribute_name :category
          = @book.category_name
          %br
          = Book.human_attribute_name :price
          = @book.price
          %br
          #{t ".available_count"} #{@book.copies_available_count}

        = f.label :registered_date
        = f.text_field :registered_date, readonly: true, class: "form-control"
        = f.hidden_field :card_id, readonly: true, class: "form-control"
        = f.hidden_field :copy_id, readonly: true, class: "form-control"
        = f.submit t(".register_button"), class: "btn btn-primary"
