%footer.rh
  .rh-100.rh-footer
    .container
      .row
        .col-lg-8.col-md-8.col-sm-8.col-xs-6.rh-f-30.rh-f-100
          .rh-footer-box
            = image_tag Settings.IMAGE_ACCESS, class: "footer-logo", alt: "footer-logo"
            %p= t "footer.message"
            %ul.footer-about
              %li
                %a{href: "mailto:example@access.test"}= t "footer.mail"
              %li
                %a{href: "javascript:;"}= t "footer.place"
              %li
                %a{href: "tel:+00000-000-0000"}= t "footer.tel"
        .col-lg-4.col-md-4.col-sm-4.col-xs-6.rh-fs-30.rh-f-50
          .rh-footer-box
            %h5= t "base_title"
            %ul.footer-menu.list
              %li= link_to t("footer.about"), about_path
              %li= link_to t("footer.contact"), contact_path
              %li= link_to t("footer.help"), help_path
