%header.rh
  %nav.rh.navbar.navbar-default
    .container
      .navbar-header
        %a.navbar-brand{href: "javascript:;"}= image_tag(Settings.IMAGE_LOGO)
      .collapse.navbar-collapse.rh-toggle#bs-example-navbar-collapse-1
        %ul.nav.navbar-nav.navbar-right.main-navbar
          %li
            = link_to href: "javascript:;" do
              %button.btn.btn-xs{type: "button"}
                - if I18n.locale == :en
                  = image_tag Settings.IMAGE_EN, title: t("language.language")
                - elsif I18n.locale == :vi
                  = image_tag Settings.IMAGE_VI, title: t("language.language")
                - else I18n.locale == :ja
                  = image_tag Settings.IMAGE_JA, title: t("language.language")
            %ul.dropdown-nav.rh-drop-menu
              %li
                = link_to locale: "en" do
                  = image_tag Settings.IMAGE_EN, title: t("language.english")
              %li
                = link_to locale: "vi" do
                  = image_tag Settings.IMAGE_VI, title: t("language.vietnamese")
              %li
                = link_to locale: "ja" do
                  = image_tag Settings.IMAGE_JA, title: t("language.japanese")
          %li
            = link_to root_path, title: t("static_pages.home.page_title") do
              %button.btn.btn-xs{type: "button"}
                = image_tag Settings.IMAGE_HOME
          %li
            = link_to books_path, title: t("book") do
              %button.btn.btn-xs{type: "button"}
                = image_tag Settings.IMAGE_BOOK_ICON
          - if user_signed_in?
            %li= link_to notification_title, notifications_path
            - if current_user.user?
              %li= link_to t("_header.borrowed_book"), registered_copies_path
            - elsif current_user.librarian?
              %li
                = link_to users_path, title: t("_header.user") do
                  %button.btn.btn-xs{type: "button"}
                    = image_tag Settings.IMAGE_USER
              %li
                %a{href: "javascript:;"}= confirm_title
                %ul.dropdown-nav.rh-drop-menu
                  %li= link_to book_confirm_title, book_confirmations_path
                  %li= link_to comment_confirm_title, comment_confirmations_path
            - elsif current_user.admin?
              %li
                = link_to users_path, title: t("_header.user") do
                  %button.btn.btn-xs{type: "button"}
                    = image_tag Settings.IMAGE_USER
            %li
              = link_to href: "javascript:;" do
                %button.btn.btn-xs{type: "button"}
                  = image_tag Settings.IMAGE_ACCOUNT
              %ul.dropdown-nav.rh-drop-menu
                %li= link_to t("_header.profile"), current_user
                %li= link_to t("_header.setting"), edit_user_registration_path
                %li= link_to t("_header.logout"), destroy_user_session_path,
                  method: :delete
          - else
            %li
              = link_to new_user_session_path, title: t("_header.login") do
                %button.btn.btn-xs{type: "button"}
                  = image_tag Settings.IMAGE_LOGIN
