%html
  %head>
    %title= full_title yield(:title)
    = render "layouts/rails_default"

    %body>
      = render partial: "flash_messages", flash: flash
      = render "layouts/header"
      = yield
      = render "layouts/footer"
